<div class="container">
  <div class="card mt-5" style="align-items: center;">
    <h1>Employee Form</h1>
  </div>
  
  <div class="card mt-5">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
      
      <div class="card mt-5" style="padding: 20px;">
        <div>
          <label for="fName">First Name :</label>
          <input pattern="[a-zA-Z ]*" required type="text" #fName="ngModel" minLength="3" name="fName" id="fName" ngModel class="form-control" placeholder="First Name">  
          <span *ngIf="fName.invalid && fName.touched" class="error">This field is not valid</span>
        </div>
        <div>
          <label for="lName">Last Name :</label>
          <input pattern="[a-zA-Z ]*" required type="text" #lName = "ngModel" minLength="3" name="lName" id="lName" ngModel class="form-control" placeholder="Last Name">  
          <span *ngIf="lName.invalid && lName.touched" class="error">This field is not valid</span>
        </div>
        <div>
          <label for="dob">Date Of Birth :</label>
          <input required type="date"  #dob = "ngModel" name="dob" id="dob" ngModel class="form-control" placeholder="date of Birth">  
          <span *ngIf="dob.invalid && dob.touched" class="error">This field is not valid</span>
        </div>
        <div>
          <label for="idCardNumber">Id Card Number :</label>
          <input pattern="[0-9]*" required type="text" #idCardNumber = "ngModel" minLength="10" name="idCardNumber" id="idCardNumber" ngModel class="form-control" placeholder="Id Card Number">  
          <span *ngIf="idCardNumber.invalid && idCardNumber.touched" class="error">This field is not valid</span>
        </div>
        <div>
          <label for="mobileNumber">Mobile Number :</label>
          <input pattern="[0-9]*" required type="text" #mobileNumber = "ngModel" minLength="11" name="mobileNumber" id="mobileNumber" ngModel class="form-control" placeholder="Mobile Number">  
          <span *ngIf="mobileNumber.invalid && mobileNumber.touched" class="error">This field is not valid</span>
        </div>
        <div>
          <label for="landline">Landline :</label>
          <input pattern="[0-9]*" required type="text" #landline = "ngModel" name="landline" id="landline" minLength="9" ngModel class="form-control" placeholder="Landline">  
          <span *ngIf="landline.invalid && landline.touched" class="error">This field is not valid</span>
        </div>
        <div>
          <label for="secondaryContact">Secondary Contact :</label>
          <input pattern="[0-9]*" required type="text" #secondaryContact = "ngModel" minLength="8" name="secondaryContact" id="secondaryContact" ngModel class="form-control" placeholder="Secondary Contact">  
          <span *ngIf="secondaryContact.invalid && secondaryContact.touched" class="error">This field is not valid</span>
        </div>
        <div>
          <label for="temporaryAddress">Temporary Address :</label>
          <input required type="text" #temporaryAddress = "ngModel" minLength="5" name="temporaryAddress" id="temporaryAddress" ngModel class="form-control" placeholder="Temporary Address">  
          <span *ngIf="temporaryAddress.invalid && temporaryAddress.touched" class="error">This field is not valid</span>
        </div>
        <div>
          <label for="permanentAddress">Permanent Address :</label>
          <input required type="text" #permanentAddress = "ngModel" minLength="5" name="permanentAddress" id="permanentAddress" ngModel class="form-control" placeholder="Permanent Address">  
          <span *ngIf="permanentAddress.invalid && permanentAddress.touched" class="error">This field is not valid</span>
        </div>
        <br>
        <div class="form-group">
          <input [disabled]="registerForm.invalid" type="submit" value="Register" class="btn btn-primary w-100">
        </div>

      </div>
    </form>
  </div>
  <div class = "mt-5">
    <table class="table table-bordered">
      <thead class="thead">
        <tr>
          <th>Id</th>
          <th>f_Name</th>
          <th>l_Name</th>
          <th>DOB</th>
          <th>Id Card</th>
          <th>Mobile Number</th>
          <th>Landline</th>
          <th>Secondary Contact</th>
          <th>Temporary Address</th>
          <th>Permanent Address</th>
        </tr>
      </thead>
      
      <tbody class="tbody">
        <tr *ngFor="let employee of employeeDetails">
          <td> {{employee.id}} </td>
          <td> {{employee.fName}} </td>
          <td> {{employee.lName}} </td>
          <td> {{employee.dob}} </td>
          <td> {{employee.idCardNumber}} </td>
          <td> {{employee.mobileNumber}} </td>
          <td> {{employee.landline}} </td>
          <td> {{employee.secondaryContact}} </td>
          <td> {{employee.temporaryAddress}} </td>
          <td> {{employee.permanentAddress}} </td>
          <td> <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(employee)">Edit</button> </td>
          <td> <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button> </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="updateEmployee()">
      
          <div class="card mt-5" style="padding: 20px;">
            <div>
              <label for="id">Id :</label>
              <input type="text" #id [(ngModel)]="employeeToUpdate.id" name="id" id="id" class="form-control" readonly>  
            </div>
            <div>
              <label for="fName">First Name :</label>
              <input pattern="[a-zA-Z ]*" required type="text" #fName [(ngModel)]="employeeToUpdate.fName" minLength="3" name="fName" id="fName" class="form-control" placeholder="First Name">
              <span *ngIf="fName.invalid && fName.touched" class="error">This field is not valid</span>  
            </div>
            <div>
              <label for="lName">Last Name :</label>
              <input pattern="[a-zA-Z ]*" required type="text" #lName [(ngModel)]="employeeToUpdate.lName" minLength="3" name="lName" id="lName" class="form-control" placeholder="Last Name">  
              <span *ngIf="lName.invalid && lName.touched" class="error">This field is not valid</span>
            </div>
            <div>
              <label for="dob">Date Of Birth :</label>
              <input type="date"  #dob [(ngModel)]="employeeToUpdate.dob" name="dob" id="dob" class="form-control" placeholder="date of Birth">  
            </div>
            <div>
              <label for="idCardNumber">Id Card Number :</label>
              <input pattern="[0-9]*" required type="text" #idCardNumber [(ngModel)]="employeeToUpdate.idCardNumber" minLength="10" name="idCardNumber" id="idCardNumber" class="form-control" placeholder="Id Card Number">  
              <span *ngIf="idCardNumber.invalid && idCardNumber.touched" class="error">This field is not valid</span>
            </div>
            <div>
              <label for="mobileNumber">Mobile Number :</label>
              <input pattern="[0-9]*" required type="text" #mobileNumber [(ngModel)]="employeeToUpdate.mobileNumber" minLength="10" name="mobileNumber" id="mobileNumber" class="form-control" placeholder="Mobile Number">  
              <span *ngIf="mobileNumber.invalid && mobileNumber.touched" class="error">This field is not valid</span>
            </div>
            <div>
              <label for="landline">Landline :</label>
              <input pattern="[0-9]*" required type="text" #landline [(ngModel)]="employeeToUpdate.landline" minLength="9" name="landline" id="landline" class="form-control" placeholder="Landline">  
              <span *ngIf="landline.invalid && landline.touched" class="error">This field is not valid</span>
            </div>
            <div>
              <label for="secondaryContact">Secondary Contact :</label>
              <input pattern="[0-9]*" required type="text" #secondaryContact [(ngModel)]="employeeToUpdate.secondaryContact" minLength="8" name="secondaryContact" id="secondaryContact" class="form-control" placeholder="Secondary Contact">  
              <span *ngIf="secondaryContact.invalid && secondaryContact.touched" class="error">This field is not valid</span>
            </div>
            <div>
              <label for="temporaryAddress">Temporary Address :</label>
              <input required type="text" #temporaryAddress [(ngModel)]="employeeToUpdate.temporaryAddress" minLength="5" name="temporaryAddress" id="temporaryAddress" class="form-control" placeholder="Temporary Address">  
              <span *ngIf="temporaryAddress.invalid && temporaryAddress.touched" class="error">This field is not valid</span>
            </div>
            <div>
              <label for="permanentAddress">Permanent Address :</label>
              <input required type="text" #permanentAddress [(ngModel)]="employeeToUpdate.permanentAddress" minLength="5" name="permanentAddress" id="permanentAddress" class="form-control" placeholder="Permanent Address">  
              <span *ngIf="permanentAddress.invalid && permanentAddress.touched" class="error">This field is not valid</span>
            </div>
            <br>
            <div class="form-group">
              <input [disabled]="updateForm.invalid" type="submit" value="Update" class="btn btn-primary w-100">
            </div>
    
          </div>
        </form>
      </div>
    </div>
  </div>
</div>